[2016-03-08 03:38] stevesloka opened #1 "On process, set credentials for each namespace service account"
ImagePullCredentials are only good for a single namespace, need to add to each for every process.

[2016-03-08 03:38] stevesloka opened #2 "Watch Namespaces"
Need to add a watch to namespaces, each time one is created, call the process cycle so that it gets updated with credentials.

[2016-03-09 03:09] stevesloka commented on #1
Resolved in #3

[2016-03-09 03:09] #1 closed

[2016-07-12 18:53] somejfn opened #6 "No errors and no image secrets created"
I was looking for this but  I can't get it to work.  Seems good from logs:

I0712 18:36:28.401132       1 aws_credentials.go:145] Starting up...
I0712 18:36:28.401786       1 aws_credentials.go:150] Using AWS Account: xxxxxxxxxxx
I0712 18:36:28.401854       1 aws_credentials.go:151] Refresh Interval (minutes): 715

I used you rc file and added proxy variables + AWS creds to work from a network wit

[2016-07-13 02:56] stevesloka commented on #6
When you say there's no outbound connectivity, is that just internet access?

I'll test the code out again, we actually haven't used since k8s supports this out of the box now. But it's useful if you don't have 1.2 or if not running in AWS Cloud.

[2016-07-14 14:18] somejfn commented on #6
Correct no direct internet access.  Im on 1.2.4 and my use case is using ECR from an on-prem cluster.

According to the proxy logs I see no issue so I was tempted to believe the secret creation to be the issue.  I'm not sure to understand how the kubeclient in the container knows how to reach the apiserver.   But I tried running it with a kubeconfig file and saw no difference.

[2016-07-18 14:54] stevesloka commented on #6
If your cluster doesn't have any internet access then that could be why it's failing, the node which runs the container will need internet access to get credentials from AWS.

[2016-07-28 02:47] stevesloka commented on #6
Hey @somejfn just wanted to follow-up, still having issues?

[2016-09-19 04:14] bfallik opened #7 "sessions and secrets?"
Hi,

Nice work! I really like your idea to use a replication controller to periodically refresh the credentials.

One concern I have with this approach is that the secret key is passed around in plaintext. Even though minikube is only intended for local VM testing I'd be worried about all copies that might occur, like into k8s or docker logs, in etcd, etc.

What do you think about extending this i

[2016-09-19 12:11] stevesloka commented on #7
Hey @bfallik thanks for checking this out! Yeah I think there is some room for improvement with how credentials are being address currently. The intiial thought is that those same creds (at least on my machine), are in plain text in `~/.aws/creds`.

I think there are 2 features from this issue we could tackle:

1. Move AWS Account ID to k8s secrets and remove them from env variables
2. Enable STS

[2016-09-19 12:12] stevesloka commented on #6
Going to close since no activity.

[2016-09-19 12:12] #6 closed

[2016-09-19 12:12] stevesloka opened #8 "Move AWS Account ID to k8s secrets and remove them from env variables"
// cc #7

[2016-09-19 12:13] stevesloka opened #9 "Enable STS as an option to pull credentials"
Use AWS STS to create short lived user credentials to use for ECR credentials.

[2016-09-19 12:13] stevesloka commented on #9
// cc #7

[2016-12-09 13:03] stevesloka commented on #8
Exposes as env variables seeded by secrets by #10

[2016-12-09 13:03] #8 closed

[2016-12-26 12:57] braval77 opened #14 "AWS region"
Hi,

What is the way to change default AWS region us-east-1 in secret.yaml file?

Our ECR is located in eu-central-1. Each time when new token is generated, I see the following records in awsecr-creds secret:

.dockerconfigjson:
{"auths":{"https://XXXXXXXX.dkr.ecr.us-east-1.amazonaws.com":{"auth":"QVdTOkFR............

As I result I get 401 error when RC tries to pull image from our ECR located in

[2016-12-26 16:04] stevesloka commented on #14
You can override the default region by adding an argument to the controller spec with `--aws-region=eu-central-1`

[2016-12-26 16:31] braval77 commented on #14
Thanks Steve!

I added an argument to the spec and this did the trick:

spec:
      containers:
      - image: upmcenterprises/awsecr-creds:1.2
        name: awsecr-creds
        args:
           - "--aws-region=eu-central-1"

[2016-12-26 17:42] stevesloka commented on #14
Awesome glad it worked out!

[2016-12-26 17:42] #14 closed

[2016-12-27 01:39] stevesloka opened #17 "Allow AWS region to be specified in secret"
Would be nice to allow the user to specify the region in a secret, right now it must be done via args (See #14) in the Replication Controller which requires the user to make multiple edits to enable the feature as a minikube addon.

[2016-12-27 01:40] stevesloka opened #18 "Watch namespaces for changes"
Right now if a new namespace is added after the plugin starts, it won't get new imagePullSecrets. Need to watch for this change and update accordingly.

[2016-12-27 01:41] stevesloka opened #19 "Error handle on missing params + logging"
Need to have better error handling when something isn't specified as well as have better logging the user can use to troubleshoot problems.

[2016-12-28 11:19] vincent-dm opened #21 "awsecr-creds pod crashes"
I have set up the secret (with the AWS access key, secret access key and account id) and the replication controller in namespace kube-system, but the pod keeps crashing  (CrashLoopBackOff)

[code]

The (censored) contents of my secret:
[code]
(I checked and the b64 encoding of the AWS params is correct, since I can view the right contents via the minikube dashboard)

My replication controller:
[co

[2016-12-28 11:21] vincent-dm commented on #21
PS: I double-checked and my account ID is 12 digits, so it seems like the regex is parsing something else...

[2016-12-28 12:08] vincent-dm commented on #21
I found that I can work around the problem by specifying the awsaccount directly in the replication controller. My gut feeling is that it is some kind of int vs string problem.

I used `echo 7##########4 | base64` to create the values in the secret.

[2016-12-28 12:12] vincent-dm commented on #21
Seems that I forgot to add the -n flag to echo
🙄

[2016-12-28 12:12] #21 closed

[2017-01-06 16:23] #17 closed

[2017-01-06 16:27] stevesloka commented on #18
This is a dupe of #2, closing this one.

[2017-01-06 16:27] #18 closed

[2017-01-11 22:14] mccricardo opened #24 "Error starting awsecr-creds"
I'm trying to start teh service and I always get this error:

[code]

How can I fix this?

[2017-01-11 23:40] mccricardo commented on #24
Closing this issue. My VM had it's datetime wrong.

[2017-01-11 23:40] #24 closed

[2017-01-21 09:11] madhurranjan opened #27 "minikube not showing registry-creds as an addon"
Hi,

Just installed minikube 0.15 but I don't see registry-creds as an add on. I see ecr-creds as a default add-on and i can also get registry-creds RC up and running but it doesn't seem to work while it tries to pull an image from GCR. Wondering what's wrong here.

[2017-01-22 01:17] stevesloka commented on #27
Hey @madhurranjan, so we did a bit of renaming. `awsecr-creds` was the first iteration of this which got credentials from AWS ECR. Since then we added support for GCR and renamed the repo to `registry-creds` to try and make it less confusing.

Until a new build goes out, you can enable the creds but use the image: `upmcenterprises/registry-creds:1.4`, and follow the instructions on how to setup (h

[2017-01-23 08:43] asnowfix opened #28 "signal SIGSEGV when enabling add-on"
I am using the **awsecr-creds** module that comes with Minikube 1.5.2, I assume this is the same module as **registry-creds**, is this correct?

When enabling the module, it crashes with SIGSEGV with the following output:

[code]

[2017-01-23 10:18] asnowfix commented on #28
https://github.com/kubernetes/minikube/pull/1001 indicates that `awsecr-creds` and `registry-creds` are the same, so this bug report should be valid.

One thing that I changed into the RC definition which comes with Minikube (I have the latest downloadable release) is:

* changed the region to the one I am using
* updated the image version to be downloaded from 1.1 to 1.2

[code]

[2017-01-23 12:02] asnowfix commented on #28
For the record, passing the AWS region as an environment parameter did not work: I had to use the `args:` section as @stevesloka mentioned in https://stevesloka.com/2016/12/10/awsecr-creds-minikube-addon/

[code]

With the above, awsecr-creds still SEGV's:

[code]

[2017-01-23 19:33] stevesloka commented on #28
Hey @asnowfix sorry for the confusion. This is the correct repo, it was renamed to `registry-creds` since it now handles both AWS and GCR.

It looks like in your logs that you have `ccp-dev` for your account id, can you update that with the 8 digit aws accountid and try again?

[2017-01-23 23:27] asnowfix commented on #28
Hello @stevesloka thanks for the reply. I have a 12-digits number in my user's ARN. That same number also shows as my _Account Number_ in the Support Center. Appart from that, I have the account name `ccp-dev`. Is this 12-digits number the one you expect? I tried it without more success (message is "server refused for an unknown reason").  I will try to gather more details.

In case the region mat

[2017-01-24 01:19] stevesloka commented on #28
Ok so a couple things to try:

1.  Update to the latest image: `upmcenterprises/registry-creds:1.4`
2. Make sure the secret referencing `aws-account` is the 8 digit AWS account id (`ccp-dev` is not a valid account id from AWS): https://github.com/upmc-enterprises/registry-creds/blob/master/k8s/secret.yaml#L6
3. The region does matter if you are trying to get credentials for a region other an `us-e

[2017-01-24 08:04] asnowfix commented on #28
Ok, seems that I cannot do much progress easily...

1. It looks like the add-on RC is overwritten every few seconds: any change I do (command-line or dashboard) is reverted quickly.

        $ minikube ssh docker pull upmcenterprises/registry-creds:1.4
        $ kubectl edit rc awsecr-creds -n kube-system

[code]

* Then look at the image value:

        $ EDITOR=cat kubectl edit rc awsecr-creds -

[2017-01-24 15:27] leopoldodonnell opened #29 "Consider taking a list of account ids"
We use multiple AWS accounts in a hub and spoke model. The hub account has the official images while other accounts may have all sort of wild animals. Minikube is where developers are working with both experimental and official images, so it would be great to be able to pull from both.

I'd happily implement a pull-request to allow for a list (space or comma?) of account ids just as `aws get-login

[2017-01-24 15:50] stevesloka commented on #29
Hey @leopoldodonnell yeah no problem! As you've seen currently we only support a single account inside a single region.

Happy to take PR's if you want to help out, or I can work on as well. I think we'd need to pass maybe a map as a setup if you wanted multiple. We'd have to keep AWS Accounts together with the correct IAM creds.

It would also be nice to do in a way that doesn't break upstream pe

[2017-01-24 16:40] sophaskins opened #30 "v1.4 fails when GCR not configured"
Hiya! I just attempted to set up version 1.4 on one of my clusters - I ended up seeing errors like:

[code]

the `google: could not find default credentials. See https://developers.google.com/accounts/docs/application-default-credentials for more information.` part of which being puzzling, because I'm not attempting to use GCE at all.

Looking through the code, `registry-creds` iterates through tr

[2017-01-24 16:40] leopoldodonnell commented on #29
Absolutely - I'd make it backward compatible.

I thought I'd add `awsaccounts` as a space separated list and pass those through, so there'd be an array of registryids instead of just the one.

I could get fancy and extract the default account id to be more consistent with the way that `aws get-login --registry-ids` works. If that was more desirable, I'd use `registry_ids` as the environment variab

[2017-01-24 19:03] stevesloka commented on #30
Hey @sophaskins, super sorry you've hit this. I'm happy to take a look at it in a bit, but if you have time and want to send in a PR, that's 100% cool with me. We can work it out together. =)

[2017-01-27 02:31] stevesloka commented on #30
I re-tested everything and it seems to me that `upmcenterprises/registry-creds:1.4` is working fine. Can you post up your replicationController which is backing this? Curious if there's an issue with Env variables vs secrets for data. FWIW, I'm using secrets for all my values.

[2017-01-27 02:34] stevesloka commented on #28
So I found out why you can't edit the replication controller directly, it's being managed by the pod `kube-addon-manager-minikube`. To edit do the following:

1.  minikube ssh
2. cd /etc/kubernetes/addons
3. sudo vi awsecr-creds-rc.yaml and edit the image to `upmcenterprises/registry-creds:1.4`

Can you give that a shot?

[2017-01-27 10:41] asnowfix commented on #28
Thanks for the tip! Will give a try.

Wrt/ the AWS digit numbers, it turns out that we have an account type that one has 12-digits account numbers: according to my account admin, this is related to the fact that he can create sub-accounts for many developers all related to the same billing.

[2017-01-28 10:29] asnowfix commented on #28
Here is the outcome of the test:

Edit: `minikube ssh sudo vi /etc/kubernetes/addons/awsecr-creds-rc.yaml`:

[code]

I noticed that `minikube addons disable awsecr-creds` followed by `minikube addons enable awsecr-creds` reset that change.

As a result of this change, the extension **does not crash**:

[code]

I will now check if the credential is usable.

[2017-01-28 11:11] asnowfix commented on #28
_Thank you for your continuous help_

Populating the desired region in the secret & changing the ReplicaSet definition using `vi`:

[code]

That results in the following (desired) Pod log:

[code]

...but when deploying my Pod, the image can still not be pulled from ECR:

[code]

...and I did not find any more descriptive error message from the `registry-creds` add-on: I looked into its Pods log (

[2017-01-28 12:29] bormansquirrel opened #31 "ErrImagePull after creating pod"
Hello,

I'm trying to use your app to pull images from ecr private registry. The registry is working when I pull from docker on my local machine using asw cli as usual.  I'm getting ErrImagePull error every time I try to create a pod that needs image from that registry:
[code]
I've followed the next steps:
1. Edit k8s/secret.yaml file with my obscured aws credentials (base64)
2. Create  secret:
`$

[2017-01-28 21:03] sophaskins commented on #30
I was using a deployment instead of a replicationController - this is what I had:
[code]

with the expected values set in a secret. I verified the right values were in the environment by (hackily) just looking at the env of the running container. I just posted the above PR as a sketch of both a failing test demonstrating the behavior, and of the beginning of a possible solution.

I think the root

[2017-01-31 22:03] sophaskins commented on #30
Resolved in 1.5!

[2017-01-31 22:03] #30 closed

[2017-02-01 01:39] stevesloka commented on #31
Are any logs from the add-on that are helpful?

[2017-02-01 01:42] stevesloka commented on #28
If you use the aws-cli with the same creds, can you pull images on your local machine? Just want to rule out the credentials work.

[2017-02-01 19:39] asnowfix commented on #28
Yes I can. BTW, I do not need to provide my 12-digits account number for that:

[code]

Login into AWS:

[code]

Then pulling the image (I took an intermediate snapshot):

[code]

[2017-02-08 16:13] callmeradical commented on #31
I am going to go out on a limb and say that you didn't set your region in the RC

[code]

Go ahead and add a new ENV for awsregion and set it to eu-west-1

[2017-02-10 13:42] turgayozgur commented on #31
The "registry-creds" addon creates new credential named "**awsecr-cred**" for Default namespace. Your deployment yaml should be like this:

[code]
Important Steps:

1- Don't use `echo -n "secret-key" | base64` to encode your aws credentials. Use online tools for this.
2- Your credentials should not start with " and should not end with "
3- If you want to use diffrent location for pulling images fr

[2017-02-12 20:39] bormansquirrel commented on #31
Thank you guys for the tips. The thing is that doing exactly the samething but with the last version of the k8s/replicationController.yaml file has worked for me.

Note1: Also as @turgayozgur pointed in his answer I've added that bit to my .yaml file
[code]

Note2: Still adding `--aws-region=eu-west-1` as args on the replicationController.yaml file

[2017-02-17 15:16] stevesloka commented on #31
Happy to heard you got this resolved. I've got a big PR coming to Minikube which I hope will make this process much easier.

[2017-02-17 15:16] #31 closed

[2017-02-17 15:16] stevesloka commented on #28
Hey @asnowfix is this still a problem for you?

[2017-02-17 15:17] stevesloka commented on #27
Minikube 0.16 is out, you can download here (https://github.com/kubernetes/minikube/releases/tag/v0.16.0) which was the renamed addon present.

[2017-02-17 15:17] #27 closed

[2017-02-17 17:25] asnowfix commented on #28
Yes it is: I had to give-up using minikube due to this in the past few days, but I would love getting it to work again (otherwise I am force to use a shared cluster). If you can publish an images 1.4.1 / whatever with the necessary traces to help troubleshooting this, that would probably be helpful.

[2017-02-24 11:12] asnowfix commented on #28
I resumed testing today with Minikube 0.16.0 & registry-creds 1.5.

[code]

(BTW it would be nice to have the above change permanent...)

...then I kill the live pod so that the RC recreates it:

[code]

The logs shows that the region is taken into account, but authentication still fails.

[code]

[2017-03-04 03:47] stevesloka commented on #28
Hey @asnowfix, sorry this has been so difficult for you to get started. I just added a PR which is now included in the latest minikube version (0.17). Can you download that and give it a try?

When you enable the addon, it now prompts you for the correct pieces needed to start the addon for AWS ro GCR.

Let me know how it works out for you!

[2017-03-06 15:44] asnowfix commented on #28
Problem fixed with minikube 0.17 :-)

BTW, it would be nice to use by default the values from `~/.aws/config`, which are created by a call to `aws configure`:

[code]

[2017-03-07 02:49] stevesloka opened #41 "Use defaults for GCR and ECR"
Use by default the values from ~/.aws/config or $HOME/.config/gcloud/application_default_credentials.json

[2017-03-07 02:50] stevesloka commented on #28
Nice to hear that it's all resolved and working! I actually had thought about that as well, I've opened an issue to track and integrate support (#41).

[2017-03-07 02:50] #28 closed

[2017-03-08 15:26] secat opened #43 "Private Docker Registry support"
Provide support for on premise Private Docker Registry.

[2017-03-09 16:51] asnowfix commented on #41
Not sure for GCP, but for AWS, making use of the `aws` command-line is likely a better idea rather than parsing manually the `~/.aws/config` and `~/.aws/credendials` file. For example this is what I am  using in my Makefile:

[code]

The simple alternative is to no bother at all about where these value come from & the the user enter them one by one manually (works today) or all at once on stdin (d

[2017-03-15 14:09] stevesloka commented on #41
What is ${AWS_ENV} configured to point to?

[2017-03-15 22:01] asnowfix commented on #41
Ah, sorry: ${AWS_ENV} is `default` by default: it is a subsection header in both `~/.aws/config` and `~/.aws/credential`.

[2017-03-23 13:16] stevesloka commented on #43
Closed with #42

[2017-03-23 13:16] #43 closed

[2017-03-23 13:16] stevesloka commented on #2
Closed with #40

[2017-03-23 13:16] #2 closed

[2017-04-14 21:33] vincent-dm opened #46 "Invalid endpoint URI error"
I configured this addon in Minikube, and it used to work, but after a recent K8S cluster teardown, I can't get it working again for pulling images from AWS.

The `registry-creds` pods output this:
[code]

I double checked and the value of the `awsregion` env var is `eu-west-1` (passed using a secret).

Any idea what is happening here?

[2017-04-14 21:37] vincent-dm commented on #46
Nevermind, I was apparently encoding a newline in the field somehow...

[2017-04-14 21:37] #46 closed

[2017-04-17 12:58] vincent-dm opened #47 "Error for ECR credentials"
When using registry-creds, the pod sometimes outputs the following error: `Error getting secret for provider awsecr-cred. Skipping secret provider! [Err: InvalidSignatureException: Signature expired: 20170416T194251Z is now earlier than 20170417T123951Z (20170417T125451Z - 15 min.)` (full output below).

Even after I have completely removed everything and even recreated the Minikube Kubernetes clu

[2017-04-17 13:05] stevesloka commented on #47
What's the time of the minikube vm? AWS uses HMAC to authenticate requests and part of that is having a valid clock. It seems that maybe they are off?

[2017-04-17 13:07] vincent-dm commented on #47
You are right. The date command outputs this:
[code]
I'll look into the reasons why. Probably due to machine suspension etc. Thanks for the clue

[2017-04-17 13:09] stevesloka commented on #47
Are you using in minikube? I remember some discussion on slack about a clock skew. I can try and look it up.

[2017-04-17 13:10] vincent-dm commented on #47
Yes, I'm using Minikube with the Xhyve driver.

[2017-04-27 10:59] weitzj opened #48 "Kubernetes 1.6 RBAC support"
For anyone interested who wants to use this with Kubernetes 1.6.2 and RBAC enabled using a `Deployment` instead of `ReplicaSet` for pulling images from AWS ECR, see the following snippet:

[code]

[2017-04-29 00:36] stevesloka commented on #48
Thanks for sharing this! I'll look to get it integrated and pushed up to minikube possibly.

[2017-06-02 15:53] ToGoBananas opened #49 "can't retrieve images from eu.gcr.io"
It works fine with gcr.io images but it fails for eu subdomain

'''rpc error: code = 2 desc = Error response from daemon: denied: Permission denied for "latest" from request'''

[2017-06-02 16:26] stevesloka commented on #49
Yeah looks like I need to better support that domain. Right now it assumes the `gcr.io`. You can override that in the meantime by passing an arg to the process. See: https://github.com/upmc-enterprises/registry-creds/blob/master/main.go#L62

[2017-06-15 14:24] vongohren commented on #49
Where are these args to be inputted?

[2017-06-15 19:07] stevesloka commented on #49
Hey @vongohren, you add that to the args of the controller definition.

[2017-06-16 06:23] vongohren commented on #49
But if we use this as an addon to minikube, we dont have access to the controller?

[2017-07-04 22:25] luck02 opened #50 "Support for role in AWS?"
We have credentials, but primarily default to using roles for these kinds of work.

I don't see any docs for assuming a role (via minikube)

[2017-07-05 05:09] luck02 commented on #50
I see it's not supported now that i've had time to dig in.  Will you accept a patch to fix / add functionality?  Are there any blockers that I should know about before I sink a bunch of time into it?

[2017-07-05 13:29] stevesloka commented on #50
Hey @luck02 not sure what you are wanting to do? Use a Role to auth to ECR? I'm ok to take a PR, but just want to understand your use case better.

[2017-07-05 14:04] luck02 commented on #50
Use a role ARN + secrets to generate the token.  In this case the credentials don't have access on ECR, but the role we'd assume does.

so given:
[code]

in the CLI we'd do:
[code]

Presumably we can use stscreds to assume a given role: http://docs.aws.amazon.com/sdk-for-go/api/aws/credentials/stscreds/

Then we can just add that to the ECR part of the secret.yaml (and obviously pick that up in ma

[2017-07-05 14:35] stevesloka commented on #50
Are you wanting to use this for a cluster running in AWS? Or off cloud? I'm not aware of a way to assume a role off cloud without specific creds to get you the STS token.

[2017-07-05 14:36] luck02 commented on #50
My use case ATM is minikubernetes.  You'd still need to provide credentials, but you'd also provide a role ARN.

[2017-07-05 14:49] luck02 commented on #50
So your secrets data section would look like this:

[code]

That's all bunk data of course.

But you'd need aws-account, account-id, access-key, region.  aws-assume-role would be 'optional' and could be blank.  if it's blank then use credentials the way it does now.  If it's not blank then assume the role and use that to get your token.

Does that make more sense?

[2017-07-05 17:37] stevesloka commented on #50
Yup that makes sense now. Feel free to send over a PR if you'd like this, then I can package up and update MInikube upstream.

[2017-07-07 04:44] luck02 commented on #50
It's been awhile since I wrote go code (v1.5ish since I was full time).  The dep landscape has moved around.  What tool are you using to manage dependencies?  I don't see it in the readme.md file, if it's there apologies :|

[2017-07-07 04:49] luck02 commented on #50
Just an FYI, I was thinking the best way to test the controller was with a mock, but I think it's easy enough to just follow your pattern.  I'm still curious about the vendor / dep tooling though.  I think we were using godeps a couple years back.

[2017-07-07 17:02] luck02 commented on #50
https://github.com/upmc-enterprises/registry-creds/pull/51

[2017-07-10 13:03] stevesloka commented on #50
Right now I'm using `govendor` to vendor my deps to the vendor directory. I've been poking around with `dep` and `glide` some, but just havn't decided if another is better for my needs.

[2017-07-18 15:07] stevesloka commented on #50
Closed with #51

[2017-07-18 15:07] #50 closed

[2017-07-18 15:09] vincent-dm opened #52 "registry-creds stopped working"
Hi,

I am using registry-creds in a fairly automated setup and it suddenly stopped working: secrets are not being created/refreshed.

The output of the registry-creds pod is as follows:
[code]

Significant time passes between the `------------------ [awsecr-cred] ----------------------` line and the `RequestError: send request failed` error.

I recall having seen an announcement from AWS about dep

[2017-07-18 15:13] vincent-dm commented on #52
PS: I just saw you uploaded a new version (1.8) but it doesn't seem to fix the issue...

[2017-07-18 15:16] stevesloka commented on #52
I'm not aware of ECR changes, but I'll check into that. From your log above, it seems that minikube can access your DNS server to look up the name:

`Post https://ecr.eu-west-1.amazonaws.com/: dial tcp: lookup ecr.eu-west-1.amazonaws.com on 10.0.0.10:53: read udp 172.17.0.3:54944->10.0.0.10:53: i/o timeout"`

[2017-07-18 15:22] vincent-dm commented on #52
I have no idea why I would suddenly have DNS problems for that specific domain, as all other internet services (also other AWS ones) are working.

Do you have any idea how this request is initiated?

I have configured our region (`eu-west1`) so maybe registry-creds uses it to construct a regionalized URL which is not really supported by Amazon?

[2017-07-18 15:24] vincent-dm commented on #52
Nevermind: I now see that this endpoint is [officially documented](http://docs.amazonaws.cn/en_us/general/latest/gr/rande.html), so I guess it must be something about my connection.

Thanks for the quick reply!

[2017-07-18 15:24] #52 closed

[2017-07-18 15:37] vincent-dm commented on #52
For anyone reading this later: stopping and starting Minikube did the trick...

[2017-07-25 03:47] hanks commented on #41
@stevesloka I make a PR for aws ecr part, please check it

[2017-08-25 12:42] zdraganov opened #54 "Getting it work with ACR (Azure Container Registry)"
I've tried to setup it as Docker Registry (using `minikube addons configure registry-creds`), but I think it's not supported for other reasons. Anyone using ACR have managed to do this?

[2017-09-12 08:28] Teddy-Schmitz commented on #49
you can find the controller in the kube-system namespace when using minikube

[2018-02-06 11:52] katp4 opened #57 "Create different credentials per namespace"
Hello,

We have 2 environments on Kubernetes with different namespaces and each needs to talk to a different AWS accounts but currently that's not possible. I would like to extend this code to take a Namespace as a parameter and get the right creds per namespace.

Do you see any obvious issues with this? If not, i would appreciate it if you could point me in the right direction if possible.

[2018-02-06 11:53] leopoldodonnell commented on #29
Sorry, I got it working, but it felt like a hack and I didn’t want to
submit something that wasn’t in line with the author’s intention.

At the time we had been using multiple accounts, one for dev and one for
production images. We switched to doing most of our work on local images
and those that passed our CI pipeline and were in the production repo.

It would be worth someone going after this ex

[2018-02-06 11:58] katp4 commented on #29
Hey @leopoldodonnell,

Awesome, thanks for the info!

I'm thinking of doing this https://github.com/upmc-enterprises/registry-creds/issues/57 as opposed to passing account IDs. I would appreciate your feedback on whether its possible or not since you are familiar with the code base.

[2018-02-06 12:02] leopoldodonnell commented on #29
I was working on moving to an array of ids for my implementation.

On Tue, Feb 6, 2018 at 6:58 AM Katerina <notifications@github.com> wrote:

[2018-02-06 13:01] leopoldodonnell commented on #29
When you do this, it would make sense to setup your repos to allow, at
least, pull access from the  AWS accounts that will be accessing the repos

On Tue, Feb 6, 2018 at 6:58 AM Katerina <notifications@github.com> wrote:

[2018-02-06 15:05] stevesloka commented on #57
Hey @katp4, the simplest way would be to extend it to request creds for multiple aws accounts and apply those to all namespaces like it does today.

However, if you wanted more control over those creds we could also take a namespace config as well.

Maybe the best way is to update the secret which holds the aws credentials to allow multiple credentials. Then it could be extended to take a namespac

[2018-02-07 12:31] rickard-von-essen commented on #29
Just added support for this in #58

[2018-02-09 18:36] ghostsquad opened #60 "Automated Docker Build for Transparency"
It would be nice to see the public docker image be an automated build. It would provide better transparency and security to know that the image came _from_ the github source automatically, and wasn't modified then pushed. Also the dockerhub page is completely empty, which is not encouraging.

[2018-02-09 18:39] stevesloka commented on #60
Yup sure thing, I'll get that setup.

[2018-02-09 18:42] ghostsquad commented on #60
@stevesloka I've submitted a PR to enable Dockerhub to build the image (as Dockerhub won't run any prerequisite steps such as `make build`)

[2018-03-19 14:27] binaryronin commented on #48
With RBAC becoming the norm now this is something that should be at least mentioned in the documentation. I had a situation where a GKE cluster had to pull private ECR images and this was the only way to get it working.

[2018-04-11 13:46] sshilko commented on #57
Same here, any workarounds to specify for which namespace credentials are intended?

[2018-04-26 10:53] mgladdish opened #64 "Add imagePullSecrets to more ServiceAccounts"
After much head scratching I think I've worked out that registry-creds only adds `imagePullSecrets` to the default service account in each namespace.

We lock down our pods by specifying our own, more restrictive, service accounts, so we don't get the `awsecr-cred` automatically added and our pods fail to download their image.

Maybe it could be possible to add an annotation to a service account t

[2018-04-26 19:26] stevesloka commented on #64
Yup you are correct, an annotation would be an easy path to make this better.

[2018-05-15 13:35] Khawaga commented on #48
I think this is really important to add.
@weitzj Thank you so much for this!

[2018-05-26 14:35] ptaillard opened #65 "Cannot pull images from AWS ECR: no basic auth credentials (v0.27.0 minikube)"
**Environment**:

- **Minikube version** : 0.27.0
- **OS** (e.g. from /etc/os-release): MacOS 10.12.6 High Sierra
- **VM Driver** (e.g. `cat ~/.minikube/machines/minikube/config.json | grep DriverName`): virtualbox
- **ISO version** (e.g. `cat ~/.minikube/machines/minikube/config.json | grep -i ISO` or `minikube ssh cat /etc/VERSION`): v0.26.0
- **Install tools**: homebrew

**What happened**:
I ca

[2018-06-26 16:12] nicroto commented on #65
I am facing the same issue as @erstaples.

@stevesloka do you have any ideas what may've gone wrong? I see a lot of Pull Requests with reasonable changes (the docs changes with info for minikube setup seems quite useful, for example) - is this repo still being supported/developed?

[2018-06-26 16:25] stevesloka commented on #65
Hey, @nicroto yes this repo is still maintained, just hasn't needed many updates recently.

Let me give this a shot, something might have changed upstream with the aws sdk, but I doubt that's really the issue. I had someone else recently use this on `docker-for-mac`'s k8s integration and it worked.

To confirm you're doing the same steps that @erstaples did to first configure, then enable?

[2018-06-27 08:39] nicroto commented on #65
Hey @stevesloka, thanks for the quick reply.

Yes, I am doing the same thing.
[code]

Then I would install a helm chart which has a deployment.yaml looking roughly like this:

[code]

and in my values.yaml file I would have:

[code]

If it does work on your end - maybe we are making some kind of mistake when entering the creds?
Here is what I do once the `configure` command is called on minikube,

[2018-07-03 17:45] nicroto commented on #65
@stevesloka Did you manage to check this out?

[2018-07-03 20:03] stevesloka commented on #65
Sorry I upgraded minikube and now latest doesn't work. I'll keep troubleshooting, if not I have an older build which should work.

By the way, what version of minikube are you using? 0.27?

[2018-07-03 20:44] nicroto commented on #65
Thanks. I am currently using `0.26.1`. What is the latest version that it works on? I think I am using a feature that isn't available on an earlier version... but I am not sure what that was.

[2018-07-04 08:22] ahanoff commented on #65
I had same problem, I added manually secret to default namespace and it started working

[2018-07-04 08:38] ahanoff commented on #65
My logs showed me

but when I configure addon I found that actually minikube creates 'awsecr-cred' instead of 'awsecr-creds', so I just put name of secret without s and everything is working now.

[2018-07-04 08:48] ahanoff commented on #65
@nicroto I didn't get it your step 5 in configure addon. What dashes in your account id? Account id is just 12 numbers, so just type xxxxxxxxxxxx

[2018-07-05 02:46] nicroto commented on #65
@ahanoff Maybe this is it. That is why I posted every detail of my setup, so a mistake can be ruled out.
Will check it out and come back with more info. Thanks.

[2018-07-31 13:56] sylvain-rouquette commented on #65
@ahanoff doesn't work for me, v0.28.0 with awsecr-cred. I have this log:

Unable to retrieve pull secret default/awsecr-cred for default/data-service-7ccb57c46d-662h7 due to secrets "awsecr-cred" not found

[2018-07-31 14:35] ahanoff commented on #65
@sylvain-rouquette can you check if this secret exists using kubectl? It shoud be in kube-system namespace

[2018-07-31 14:45] sylvain-rouquette commented on #65
@ahanoff I have registry-creds-ecr running in kube-system, but I get the same error if I set this for imagePullSecrets.

isn't the problem the "default/" at the beginning, shouldn't it be "kube-system/" instead?

[2018-07-31 16:02] ahanoff commented on #65
@sylvain-rouquette can you pull image to your local environment using those credentials? Just docker pull. Thanks

[2018-07-31 16:13] sylvain-rouquette commented on #65
yes it works locally. now awsecr-cred doesn't show an error anymore. You were right, I had to use awsecr-cred in imagePullSecrets.

But now I have this error: no basic auth credentials.

[2018-07-31 16:17] ahanoff commented on #65
You can try kill pod of registry-creds 😄 but I would try reconfigure registry creds again

[2018-08-10 15:52] Alien2150 opened #66 "Hard coded us-east-1"
Hey guys,

I tried to get the deployment running. But it seems that the initial AssumeRole Requests still goes to another region than my chosen one:

[code]

Cheers,
Thomas

[2018-08-14 11:52] guemues commented on #65
If i run minikube without any driver it continuous giving this error even ingress addon enabled:
`
"caused by: Post https://ecr.eu-west-1.amazonaws.com/: dial tcp: lookup ecr.eu-west-1.amazonaws.com on 10.96.0.10:53: read udp 172.17.0.8:33304->10.96.0.10:53: i/o timeout"`

if i run Minikube with VirtualBox it doesn't give any error.

[2018-08-17 12:09] klub opened #67 "Instructions on how to set argSkipKubeSystem to false"
Hello.
It seems there is no way to set `argSkipKubeSystem` to `false` without going into the source code and recompiling the binary?

I need imagePullSecrets to also be created for the kube-system namespace.

Is there an easy way i can enable this please?

[2018-08-17 13:26] stevesloka commented on #66
Hey @Alien2150, the default is that (which I should remove), but you can override with an arg: `--aws-region=new-region` or an env var: `awsregion`.

[2018-08-17 13:27] klub commented on #67
Hello @stevesloka .
Thanks for your response.
Where or how do i pass that flag in please? Sorry i am not so familiar with Golang.
I am currently using your minikube addon.
Could you share a bit more information regarding where i set this flag etc please.

Thanks!

[2018-08-17 13:28] stevesloka commented on #65
Good to hear you got it working @guemues!

To everyone on this thread, I'm going to close as it seems all issues are ok? If not feel free to open a new one or reopen this one. Thanks!

[2018-08-17 13:28] #65 closed

[2018-08-30 04:40] nicroto commented on #65
I am still getting the "no basic auth credentials", even after following @sylvain-rouquette's procedure and having all tools upgraded to latest AND using my Account ID in "xxxxxxxxxxxx" form.

How can I further debug this to give you more info on what's going wrong, here?

Here is a simplification of my deployment that fails to pull an image from ECR:

[code]

[2018-08-30 05:40] nicroto commented on #65
OK, finally got it working. There probably was more than one issue in my case, but after upgrading everything to latest and getting the error I last posted, I check the logs for the addon pod and I found that it couldn't resolve the aws dns. My account should be assigned to the "us-east-1a", but constructing the dns with the "a" at the end didn't properly resolved.

Changing the region from "us-ea

[2018-09-26 18:19] geerlingguy commented on #65
Strange, for me I'm seeing the registry-creds pod failing to start with:

[code]

I'm not trying to use `gcr-creds` though, so :/

[2018-09-27 03:06] jim-barber-he opened #68 "registry-creds in Minikube doesn't renew credentials before they expire."
Overall the registry-creds addon in Minikube 0.28.2 is working quite well.
However we've noticed an issue where there can be periods where our AWS ECR credentials have expired and they haven't been renewed yet.
This results in errors like so (I've substituted $AWS_ACCOUNT_ID, $IMAGE, and $TAG into the messages to anonymise them a bit):

[code]

If left for long enough, the credentials are renegoti

[2018-09-28 18:06] stevesloka commented on #68
The default refresh time is 60 minutes, but you could make that smaller if you'd like (https://github.com/upmc-enterprises/registry-creds/blob/master/main.go#L68).

Credentials by default are good for 12-hours, so refreshing every hour should be overly optimistic.

[2018-09-28 18:06] stevesloka commented on #67
You can pass it to the `args` of your container.

[2018-09-28 18:07] #66 closed

[2018-10-01 00:55] jim-barber-he commented on #68
OK thanks for your response.

So each time they are renewed, new credentials are produced?

What we are seeing (but I'll have to investigate more closely by the looks) are the credentials are expiring and there is a period before the renewal fixes them again.
It seems like the hourly "renewal" may not be getting new credentials, but may be returning the same ones as we already have (or maybe doing

[2018-12-11 11:20] rickard-von-essen commented on #29
@yujunz you don't, you give cross account access to that user/role.

[2019-01-30 04:49] thuandt commented on #48
@weitzj Hi, I tried to run with RBAC from your comment but not successful. I'm run it on GKE v1.11.x

[code]

[2019-01-30 06:55] weitzj commented on #48
@thuandt On GKE your own permissions for your Kubectl user are not enough to create RBAC roles. This is not related to the RBAC roles here, but a general GKE feature.

Therefore you first have to elevate your GKE permissions to be a cluster-admin. Afterwards try to apply the RBAC thing here again.

See:

- https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control
- „kubectl

[2019-02-05 16:22] asc-adean commented on #48
Confirmed that this resolves my problem, compatible with K8S 1.11.5

[2019-03-10 15:31] hasusuf commented on #54
I was able to make it work by creating `service principal` and treating its creds as `Private Docker Registry`. I will provide the necessary terraform scripts for it. Use the outputted command to create the secret and add `dpr-secret` to `imagePullSecrets` in your deployment.

[code]

[2019-07-15 16:24] nvanheuverzwijn opened #71 "Helm charts"
Did you guys ever considered building an helm chart and have it graduated to https://github.com/helm/charts/tree/master/stable/ ?

I have done one for your project here : https://github.com/kronostechnologies/helm-chart-awscred

[2019-07-23 13:18] stevesloka commented on #71
Hey @nvanheuverzwijn! I never personally got into using Helm as a tool in my pocket (not that other's can't, just my personal experience). Happy to bring something in if you'd like to send a PR. =)

[2019-07-29 19:36] davisford opened #72 "How to deploy to minikube automatically?"
So, I understand how to deploy with `minikube addons configure registry-creds`, etc. but I want to deploy this automatically on minikube start without having to run the commands.

Minikube docs say you can put an addon into `~/.minikube/addons` and it will enable the addon on startup, but it isn't clear to me _what_ to put in that folder?  The `yaml` files, or the `golang` binary, or what?

Your d

[2019-08-02 15:11] nvanheuverzwijn commented on #71
@stevesloka Seems like there is a chart in helm hub : https://hub.helm.sh/charts/kir4h/registry-creds
The charts looks very good. Maybe we could update the README to use it ?

[2019-08-02 15:14] nvanheuverzwijn commented on #71
The github source : https://github.com/kir4h/charts/tree/master/charts/registry-creds

[2019-08-05 13:46] #71 closed

[2019-08-11 15:35] gokhansengun commented on #68
We are also seeing this issue. Occasionally it is after laptop put to sleep and get back up after ours. I am looking for the ways for reliable reproduction. Killing the pod is a workaround as written in above comments.

I have also seen the issue recently in a server where it is always up. I have no idea how does it occur though

[2019-08-16 17:06] andrewjkrull opened #74 "Attempting to get working"
1. What is the correct entry in the secrets.yml file for aws-assume-role if I am not using it?
aws-assume-role: ""

2. Why is AWS_SESSION_TOKEN in secrets.yml file twice? One is showing a value and the other isn't?

2. What is the value for using the Docker private for imagePullSecrets?

3. I deploy the secrets.yml file and then the replicationController but the replicator can't seem  get the imag

[2019-08-22 20:54] nvanheuverzwijn commented on #74
I would recommend you to use this helm chart : https://hub.helm.sh/charts/kir4h/registry-creds

The awsAssumeRole should be the arm : `arn:aws:iam::611542441284:role/yourrolename`

The imagePullSecrets should be `registry-creds-dpr` for docker registry.

[2019-08-22 20:55] nvanheuverzwijn commented on #72
See this PR #63 it may help

[2019-10-10 09:52] reegnz opened #76 "Use Deployment instead of ReplicaController"
Since ReplicationControllers got first introduced in kubernetes there appeared several more sophisticated constructs to manage a deployment.

The official docs also suggests that now Deployments is the preferred way over ReplicationControllers to set things up: https://kubernetes.io/docs/concepts/workloads/controllers/replicationcontroller/

Would you be open to accept a PR that changes the curren

[2019-10-28 05:33] peteryhwong opened #78 "Addons registry-creds cannot be configured for AWS Elastic Container Registry"
**The exact command to reproduce the issue**:

[code]
**The full output of the command that failed**:<details>

😄  minikube v1.5.0 on Darwin 10.15
✨  Automatically selected the 'hyperkit' driver (alternates: [virtualbox])
🔥  Creating hyperkit VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.16.2 on Docker 18.09.9 ...
🚜  Pulling images ...
🚀  Launching Kubernetes ...
⌛  Waiti

[2019-10-30 15:33] mohag commented on #29
Dealing with multiple regions in the same way might be useful as well...

@yujunz You can probably deploy two instances, configured to use different secrets (with the `aws-secret-name` flag).

[2019-11-13 07:23] yujunz opened #79 "Discrepancy between code and doc"
underline in code

https://github.com/upmc-enterprises/registry-creds/blob/9aa1eb2f735a074be6cade8265b9c75d0337d551/main.go#L81

while dash in doc

[2019-11-19 15:15] adrianovieira opened #80 "ERROR creating `registry-creds-dpr` secret"
I'm trying to setuo our private registry to work on minikube.

After minikube is started I to configure registry-creds addon

1. `$ minikube addons configure registry-creds`
[code]
niether:

2. `$ minikube addons configure registry-creds`
[code]

[2019-12-11 19:01] Brenk7 opened #81 "MFA usage with ECR"
I am having issues running Minikube with MFA and I was wondering if this is a feature that is supported and I am just missing the implementation of it?

[2019-12-13 00:56] #81 closed

[2020-01-28 01:06] karolz-ms opened #85 "Newly published registry-creds image (1.10) does not contain ACR (Azure) support"
Repro steps:

1. Install the registry-creds controller following standard instructions
1. Deploy the controller
1. Attach a shell to the controller container
1. Run `strings -n 9 registry-creds | grep acrClient`

Expected: a bunch of strings that have 'acrClient' in them
Actual: nothing

For comparison, this is the result of running the same command on zpkarol/registry-creds:1.10 image that I have

[2020-01-31 17:28] karolz-ms commented on #85
Hey @stevesloka @oliverspryn do you guys have a timeframe for investigating this issue?

I double-checked the image again and I am pretty sure the binary inside does not have support for Azure 😞

[2020-01-31 19:55] stevesloka commented on #85
Let me take a look this afternoon @karolz-ms

[2020-01-31 20:19] stevesloka commented on #85
Hey @karolz-ms can you re-pull the image? I just rebuild it all again. Thanks!

[2020-01-31 20:19] #85 closed

[2020-02-03 23:59] karolz-ms commented on #85
It works! 😌 Many thanks, @stevesloka

[2020-03-22 03:24] fooock opened #88 "ECR - InvalidParameterException: Invalid parameter at 'registryIds' failed to satisfy constraint"
I'm unable to make this to work in a Kubernetes 1.16. My configuration is:

[code]
My deployment file is:

[code]
When the two files are deployed, then the logs from the pod are:

[code]
The secret `awsecr-cred` is empty. Any thoughts on this?

[2020-03-22 03:37] fooock commented on #88
My fault, I'm using an incorrect AWS account ID.

Using the correct one, it works fine.

[2020-03-22 03:37] #88 closed, assigned to nobody

[2020-04-03 18:58] donifer opened #90 "Q: Enable only one registry"
Is there a way to only enable a single registry? I'm using Amazon's ECR and I don't need any of the others.

I get it working but I have extra secrets in all my namespaces that I don't use and according to the logs it's constantly trying to get creds from the other registries.

[2020-04-05 21:51] santhoshsurapuram opened #91 "ECR Assume Role issues"
I am trying to install helm chart on bare metal K8 cluster, i am seeing below error

[root@node1 ~]# helm install registry-creds \

Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: unknown object type "nil" in Secret.data.aws-assume-role

[2020-04-06 15:37] #91 closed, assigned to nobody

[2020-04-06 15:38] santhoshsurapuram commented on #91
Got this working without helm

[2020-04-15 08:56] Pwntus opened #92 "client-go: No cached connection was available"
Hi, I'm running this on AKS and it works perfectly for a day.

After that it will silently fail and when I view the pod-log I see a continuous list of the following messages each second:

[code]

It appears to originate from the k8s Go-client, where a cached connection is missing. Could it be a bug in the client or is it maybe something happening on the AKS level?

Specifically here: https://githu

[2020-04-15 15:19] deini commented on #92
I just started having the same issue. Also running AKS.

[2020-04-15 21:00] Pwntus commented on #92
Seems to be an issue with Golang and HTTP/2.

Related issues:
https://github.com/jcmoraisjr/haproxy-ingress/issues/467
https://github.com/kubernetes/kubernetes/issues/49740

I will try to build this repo again with updated k8s Go-client.

[2020-05-12 22:10] donifer commented on #92
Did you guys find a workaround? Seeing the same issue and need to constantly recreate the `registry-creds` pod.

[2020-05-13 08:37] Pwntus commented on #92
No, I did not manage to upgrade Golang in this repo. I'm still getting this issue but it happens very irregularly, so I very much suspect it's a race condition in HTTP/2. Temporary fix is to recreate the deployment, but you will never know when it fails.

[2020-06-07 07:55] agrondemiraj opened #93 "Missing File"
Hi,

Replication controller file is missing in Repo. Is there any change that requires to be done from our end ?

[2020-07-20 06:27] xlanor opened #94 "Allow blacklisting of namespaces"
Is there anyway to add a blacklist (or a whitelist) of namespaces that we want to allow the credentials to be synced to?

For example, secrets are also being synced to `kube-public`

[2020-07-21 07:15] xlanor commented on #93
ReplicationController is changed to Deployment

#77

[2020-08-28 00:30] lamb84 opened #95 "imagePullSecrets not created in all namespaces"
i am running it in a on-prem k8s cluster.
our only registry is on ecr.   so i took out the gcr and dpr configs

my deployment.yaml looks like:
[code]

and I had to create a serviceAccount because the `default` account does not have sufficient permissions.

the pod logs shows:
[code]

but imagePullSecret was only added in some of the namespaces. not all.

it created imagePullSecrets on 16 namespace

[2020-08-30 05:13] lamb84 commented on #95
this issue went away after I set `argSkipKubeSystem` in main.go to `false`

[2020-10-02 11:42] bmwant commented on #78
Try updating your minikube and then

[code]

[2020-10-21 05:17] marcgarciajr opened #97 "v1. Namespace is forbidden: User cannot list resource "namespaces" in API group."
Any idea why would this happen? Seems like the Go app can't list the namespaces. What can I do in this case?

It is configured for AWS ECR the same registry works fine on minikube, but in dev cluster, it doesn't.

Here is the error:

`time="2020-10-21T05:10:45Z" level=info msg="Starting up..."
time="2020-10-21T05:10:45Z" level=info msg="Using AWS Account: 81xxxxxxxx"
time="2020-10-21T05:10:45Z" le

[2020-10-29 21:00] akshayks commented on #92
@Pwntus I have a fork of `registry-creds` built against the latest version of the Kubernetes golang SDK. All tests seem to pass but I have not yet deployed the container to a Kubernetes cluster and observed its behavior to determine if the original issue has been addressed. I can submit a PR if you think it will be useful.

[2020-10-31 16:15] Pwntus commented on #92
@akshayks Thanks, I will try your version asap and report back if I experience the same issue.

[2020-10-31 16:17] stevesloka commented on #92
Hey everyone, I can help get this repo updated if you would like.

[2020-10-31 21:34] Pwntus commented on #92
@stevesloka That would be wonderful!

[2020-11-02 19:56] akshayks commented on #92
@Pwntus I forked this repo and pushed changes to the [client-go-v0.19.3](https://github.com/akshayks/registry-creds/tree/client-go-v0.19.3) branch. I will hopefully get around to testing it myself sometime this week. In the meanwhile, let me know how your testing proceeds.

[2020-11-10 20:01] briprowe commented on #97
I am also intermittently encountering this when running in minikube.

[code]

[2020-11-26 15:01] KennyReeldata commented on #97
Running into this with K3s in an on-premise setup as well..

[2020-12-10 17:31] Keralin commented on #97
You have to allow the serviceaccount that you are using to list some resources from kubernetes otherwise it will fail like yours it's failing. It is failing because doesnt have the enough permissions to be able to do some actions (in th is case list all the namespaces). You can define new permissions or create anoñther serviceAccount to avoid editing the default one that comes from Kubernetes.

[2020-12-17 13:58] jfdumont commented on #92
Same issue on 2  almost identical  Rancher cluster :

Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:41:49Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}

registry-creds:
    Image:      upmcenterprises/registry-creds:1.10

reschedule registry-cred pod re

[2020-12-17 21:36] akshayks commented on #92
@Pwntus Did you have a chance to test out my fork yet?

[2020-12-21 04:10] lackhoa commented on #97
What is the permissions that this app need? Do you assume that it should run as admin?

[2020-12-21 09:36] Keralin commented on #97
No that's wrong, you should'nt run as admin. In my case I added the permissions:
namespace: list, get, watch
secrets: get, list, watch, create, update, patch and delete
serviceaccount: all the permissions.

Remember that the app list all namespaces, and updates or creates secrets to that namespace with the secrets to allow that namespace to dowload the images from the private repository

[2020-12-21 09:42] lackhoa commented on #97
@Keralin What do you mean "in your case"? Are there different use cases?
I read that only the default serviceAccount is mutated, so do we really need all the permissions for all serviceAccounts?

[2021-03-13 18:34] irmiller22 opened #99 ""aws-secret-name" value only set to default"
I tried setting up my `deployment.yaml` configuration to set the `aws-secret-name` value, but the secret is always set to the default value `awsecr-cred` despite `aws-secret-name` being set.

The `deployment.yaml` file looks like the following:

[code]

My secrets file looks like the following:

[code]

The other variables (`AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY`, `aws-account`, `aws-region`)

[2021-04-19 14:15] Gegonz commented on #92
Any update on this topic?
For now we have to setup a cronjob to restart registry-creds every 12h

[2021-06-28 10:46] flokli opened #100 "Allow running without updating service accounts"
I'd like to run this without updating any service accounts.

`registry-creds` should just take care of creating and updating the secret resources, and not mutate any of the service accounts.

[2021-06-28 10:53] flokli opened #101 "Add ClusterRole, ClusterRoleBinding and ServiceAccount to examples"
This requires a service account that can get/list/watch namespaces, create/update secrets, and update service accounts.

The k8s yml files in the repo should include this.

[2021-06-28 10:56] flokli opened #102 "Allow configuring which secrets it'll try to refresh"
When running this, there's currently a lot of log spam about trying to update other credentials than the one configured.

It should be possible to only enable certain clients.
We can't really derive this from what environment variables are configured right now, as some of them rely on application default credentials passed from a metadata server.

[2021-07-20 11:25] franciscobaronmrf commented on #92
This is something that happens sometimes and we have set up a liveness probe looking logs. If it works with the updated SDK can we push it to master?

[2021-07-20 11:59] Keralin commented on #92
This is something that happens sometimes and we have set up a liveness probe looking logs. If it works with the updated SDK can we push it to master?

[2021-07-20 14:51] Keralin commented on #101
added in this PR that I have https://github.com/upmc-enterprises/registry-creds/pull/103

[2021-07-20 14:53] Keralin commented on #97
@lackhoa Sorry for the delay, I just added to this PR with the files you will need. https://github.com/upmc-enterprises/registry-creds/pull/103

[2021-08-10 22:41] antonblr commented on #99
@irmiller22 - I think this meant to be passed as a flag only, e.g. I've updated config with:
[code]
... and I see `my-aws-creds-secret` gets created.

[code]

[code]

[2021-08-24 23:20] ede-n commented on #94
Please see if https://github.com/upmc-enterprises/registry-creds/pull/104 solves it. Thanks.

[2021-08-24 23:24] ede-n opened #105 "Allow whitelist and blacklist of namespaces"
Thanks for putting this repository together, we have been using it extensively and came across a use case for which we need to whitelist a few namespaces.

Here I propose to introduce two new arguments

* `--include-namespaces`: a subset of namespaces to process, if empty processes all namespaces.
* `--exclude-namespaces`: a subset of namespaces to exclude from processing.
In this implementation I

[2021-08-25 00:38] irmiller22 commented on #99
@antonblr ah, good catch. Thanks for correcting me. I'll close the issue now.

[2021-08-25 00:39] #99 closed, assigned to nobody

[2021-08-28 23:33] leandropls commented on #48
Solves my problem with K3s

[2021-11-21 17:17] ghazalrana opened #106 "Empty ecr imagepullsecret"
Hi,
I am using these files and I also double-checked my encoded base64 values in the secret by decoding it (using 12 digit account id in **_aws-account_** field). When I deployed these files, I get   **_.dockerconfigjson: e30=_**   in the generated awsecr-cred secret (kubectl get secret awsecr-cred -o yaml)

**note:** minikube addons registry-creds is  disabled

Could anyone suggest a way to use t

[2021-11-25 15:06] #106 closed, assigned to nobody

[2021-12-21 21:02] mimiteto opened #108 "Intorduce a Helm chart for simplified deployments"
Introduce a helm chart with the tool. This will ease users in using registry-creds.

[2021-12-21 21:04] mimiteto commented on #108
[PR](https://github.com/upmc-enterprises/registry-creds/pull/107)
At the moment it is lacking travis build. I am unsure what is the best way to extend it but if an approach is suggested I will happily implement ti.

[2022-04-07 14:30] ac5tin commented on #97
i only configured the `secrests.yml` and `deployment.yml` for AWS ECR and got the following error in the pod

[code]

[2022-04-19 15:50] tgmatt commented on #101
Just passing this along since I got this set up today; you need to add `serviceAccountName` to the deployment's `spec.template.spec` otherwise these changes won't take effect 👍🏻

[2022-04-23 16:27] kir4h commented on #108
Hi @mimiteto . Just in case it helps, I created https://github.com/kir4h/charts/tree/develop/charts/registry-creds chart a while ago.
I could transfer it to @stevesloka / @upmc-enterprises , move it to this repo or whatever is required.

It would make sense to either:

* Move it to this repository
* Move it to a repository controlled by  @upmc-enterprises from where the chart gets published
* Ment

[2022-05-10 15:25] kaiffeetasse commented on #97
@ac5tin I think you are missing the api_groups = "" permission

[2022-07-04 12:56] motoshkov commented on #97
https://aws.amazon.com/premiumsupport/knowledge-center/eks-kubernetes-object-access-error/

[2022-10-03 22:23] asampal commented on #90
@donifer did you have to do anything that wasn't documented to get this working? I'm also only using the ECR registry, but I can't seem to get minikube to work with this addon. I keep seeing this in the logs:

[code]
I have no idea what lookup it's doing at `ecr.xn--uswest2-316ce.amazonaws.com` - that host doesn't mean anything to me as my registry is `<account ID>.dkr.ecr.us-west-2.amazonaws.co`